.slideshow {

    .slideshow-image {
        position: relative;
        width: 90%;
        display: flex;
        object-fit: cover;
        height: 400px;
        font-weight: 800;
        border-radius: 15px;
        margin: auto;
        margin-top: 40px;
    }

    .arrow-left {
        width: 35px;
        position: absolute;
        top: 41%;
        left: 70px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .count {
        display: flex;
        margin: auto;
        position: absolute;
        bottom: 35%;
        font-weight: 800;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
    }

    .arrow-right {
        width: 35px;
        position: absolute;
        top: 41%;
        right: 70px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .slideshow {
        .slideshow-image {
            height: 280px;
            width: 95%;
            padding-left: 7px;
        }

        .arrow-right {
            width: 20px;
            top: 35%;
            right: 25px;
        }
        
        
        .arrow-left {
            width: 20px;
            top: 35%;
            left: 25px;
        }

        .count {
            display: none;
        }
    }
}