.slideshow {
    position: relative;
    .slideshow-image {
        position: relative;
        width: 100%;
        display: flex;
        object-fit: cover;
        height: 400px;
        font-weight: 800;
        border-radius: 15px;
        margin: 40px 0 0;
    }

    .arrow-left {
        width: 35px;
        position: absolute;
        top: 216px;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .count {
        display: flex;
        margin: auto;
        position: absolute;
        top: 340px;
        font-weight: 800;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
    }

    .arrow-right {
        width: 35px;
        position: absolute;
        top: 216px;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .slideshow {
        .slideshow-image {
            height: 280px;
            width: 100%;
        }

        .arrow-right {
            width: 20px;
            top: 52%;
            right: 30px;
        }
        
        
        .arrow-left {
            width: 20px;
            top: 52%;
            left: 30px;
        }

        .count {
            display: none;
        }
    }
}