.slideshow {

    .slideshow-image {
        position: relative;
        width: 90%;
        display: flex;
        object-fit: cover;
        height: 400px;
        font-weight: 800;
        border-radius: 15px;
        margin: 40px auto 0;
    }

    .arrow-left {
        width: 35px;
        position: absolute;
        top: 360px;
        left: 80px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .count {
        display: flex;
        margin: auto;
        position: absolute;
        bottom: 175px;
        font-weight: 800;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
    }

    .arrow-right {
        width: 35px;
        position: absolute;
        top: 360px;
        right: 80px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .slideshow {
        .slideshow-image {
            height: 280px;
            width: 95%;
        }

        .arrow-right {
            width: 20px;
            top: 33%;
            right: 25px;
        }
        
        
        .arrow-left {
            width: 20px;
            top: 33%;
            left: 25px;
        }

        .count {
            display: none;
        }
    }
}