.host-figure {
    display: flex;
    justify-content: right;

    .host-picture {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin-left: 10px;
        position: relative;
        bottom: 15px;
    }

    .host-name {
        color: blue;
        font-family: 'montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        width: calc(100% - 30px);

        figcaption {
            color: #FF6060;
            position: relative;
            bottom: 3px;
            left: 29px;
            display: flex;
            font-weight: 500;
            justify-content: flex-end;
        }
    }
}

@media (max-width: 768px) {
    .host-figure {

        .host-picture {
            width: 48px;
            height: 48px;
        }

        figcaption {
            top: -9px;
        }
    }
}