.property-details {

    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 0;
}

.title-tags {
    margin-left: 60px;
}

.property-details li {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    color: #FFF;
    padding: 6px 15px;
    border-radius: 10px;
    margin: 0 10px 5px 0;
    background-color: #FF6060;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .property-details {
        margin: 15px 0 30px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .property-details li {
            font-size: 16px;
        }
    }

