.allcards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 50px;
    gap: 24px;
    margin: 50px;

    li {
        width: calc((100% / 3) - 20px);
        margin-bottom: -18px;
    }
}

@media screen and (max-width: 768px) {
    .allcards {
        gap: 0;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: 0;

        li {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: -90px;
        }
    }
}