.banner img {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: -50px;
    object-fit: cover;
    height: 200px;
    filter: brightness(50%);
    border-radius: 20px;
}

.banner h1 {
    position: relative;
    color: black;
    bottom: 100px;
    text-align: center;
    color: white;
    font-size: 2.2em;
}

@media screen and (max-width: 768px) {
    .banner {
        max-width: 1200px;

        img {
            max-height: 180px;
            width: 95%;
            margin-bottom: -90px;
            margin-top: 30px;
        }

        h1 {
            bottom: 40px;
            font-size: 1.8em;
        }
    }
}