.banner img {
    display: flex;
    width: 85%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    object-fit: cover;
    height: 200px;
    filter: brightness(50%);
    border-radius: 20px;
}

h1 {
    position: relative;
    color: black;
    bottom: 152px;
    text-align: center;
    color: white;
    font-size: 2.5em;
}